In [2]:
# 모든 워드 출력

import pandas as pd # 데이터프레임 사용을 위해
from math import log10 # IDF 계산을 위해

docs = [
  'a new car used car car review',
  'a friend in need is a friend indeed',
] 

vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()
print(vocab)
N = len(docs) # 총 문서의 수
d_t=0

def tf(t, d):
    d_t=d.split(' ')
    return d_t.count(t)/len(d_t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return log10(N/(df))

def tfidf(t, d):
    return tf(t,d)* idf(t)
    result = []

['a', 'car', 'friend', 'in', 'indeed', 'is', 'need', 'new', 'review', 'used']

In [4]:
# TF 결과

result = []
for i in range(N): # 각 문서에 대해서 아래 명령을 수행
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]        
        result[-1].append(tf(t, d))

pd.DataFrame(result, columns = vocab)

          a       car  friend     in  ...   need       new    review      used
0  0.142857  0.428571    0.00  0.000  ...  0.000  0.142857  0.142857  0.142857
1  0.250000  0.000000    0.25  0.125  ...  0.125  0.000000  0.000000  0.000000

[2 rows x 10 columns]

In [5]:
# IDF 결과

result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

pd.DataFrame(result, index = vocab, columns = ["IDF"])

            IDF
a       0.00000
car     0.30103
friend  0.30103
in      0.30103
indeed  0.30103
is      0.30103
need    0.30103
new     0.30103
review  0.30103
used    0.30103

In [7]:
# TF-IDF 결과

result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]

        result[-1].append(tfidf(t,d))

pd.DataFrame(result, columns = vocab)

     a       car    friend        in  ...      need       new    review      used
0  0.0  0.129013  0.000000  0.000000  ...  0.000000  0.043004  0.043004  0.043004
1  0.0  0.000000  0.075257  0.037629  ...  0.037629  0.000000  0.000000  0.000000

[2 rows x 10 columns]